body {
  font-family: "Playfair Display", serif;
}

.header {
    display: flex;
    padding: 20px;
    text-align: left;
    background: black;
    color: white;
    font-size: 15px;
}

.title {
    flex: 1;
}

.file-submit {
    margin: 200px auto 0 auto;
    width: 30%;
    border: 5px solid black;
    padding: 8px;
    text-align: center;
    position: relative;
    top: -200px;
}

.message {
    margin: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.safety-message {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -200px;
}

input[type="submit"]:hover{
    background-color: #A8C7E6;
    font-size: 18px;
}

.redacted-file {
    display: inline-block;
}

.downloads {
    margin-top: 10px;
    text-align: center;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
}
